<div class="header-track-wrapper">
  <p class="welcome-text">Welcome to worldwide Discount Appliance!</p>
  <div>
    <div class="track-order-wrapper">
      <img
        class="delivery-truck"
        src="../../assets/icons/delivery-truck-icon.svg"
        alt="Delivery Truck Icon"
        width="18"
        height="18"
      />
      <p class="track-order">Track your order</p>
    </div>
    <div class="all-offers-wrapper">
      <img
        class="discount"
        src="../../assets/icons/discount-icon.svg"
        alt="Discount Icon"
        width="18"
        height="18"
      />
      <p class="all-offers">All Offers</p>
    </div>
  </div>
</div>
